# History files
.Rhistory
.Rapp.history
*.Rdata

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# folders with raw data
docs_collection*

# txt files with raw data
*.txt
*.dat